spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?allowPublicKeyRetrieval=true
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  flyway:
    enabled: true

jwt:
  secret: ${JWT_SECRET:this-is-a-very-long-and-secure-secret-key-for-jwt-token-generation}
  expiration-in-ms: ${JWT_EXPIRATION_IN_MS:86400000}

logging:
  level:
    org:
      springframework:
        data:
          jdbc: DEBUG
        jdbc:
          core:
            JdbcTemplate: DEBUG
            namedparam:
              NamedParameterJdbcTemplate: TRACE
