spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:seminar2025}?allowPublicKeyRetrieval=true
    username: ${DB_USER:user}
    password: ${DB_PASSWORD:somepassword}
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
  flyway:
    enabled: true

jwt:
  secret: ${JWT_SECRET:this-is-a-very-long-and-secure-secret-key-for-jwt-token-generation}
  expiration-in-ms: ${JWT_EXPIRATION_IN_MS:86400000}

logging:
  level:
    org:
      springframework:
        data:
          jdbc: DEBUG
        jdbc:
          core:
            JdbcTemplate: DEBUG
            namedparam:
              NamedParameterJdbcTemplate: TRACE
